#header-nav{
	border-radius: 0;
	border: 1px solid black;
	background-color: grey;
}
#header-nav button{
	margin: 22px;
	float:left;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: white;
}
.navbar-collapse {
    border-top: 0;
}

.navbar-brand h1{
	font-weight: bold;
	font-size: 1.8em;
	font-family:italic,cursive;
	color: black;
}
.navbar-brand,.navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}
.navbar-brand a:hover {
    text-decoration: none;
}
#nav-list {
    background-color: black;
}

#nav-list a {
    font-weight: bolder;
    color: white;
    font-size: 1.2em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}

div h2{
	font-weight: bold;
	text-align: center;
	font-family: italic,cursive;
}
#box h3{
	text-align: center;
}
#box{
	background-color: grey;
	padding:10px 10px 10px 10px;
	margin: 40px;
	box-sizing: border-box;
}
