#header-nav{
	border-radius: 0;
	border: 0;
	background-color: grey;
}
#header-nav button{
	margin: 20px;
}
.navbar-brand h1{
	font-weight: bold;
	font-size: 1.8em;
	font-family:italic,cursive;
	color: black;
}
.navbar-brand a{
	text-decoration: none;
}
.navbar-brand,.navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}
#nav-list li a{
	color: white;
}
#nav-list a:hover{
	background-color: black;
}
div h2{
	font-weight: bold;
	text-align: center;
	font-family: italic,cursive;
}
#box{
	background-color: grey;
	padding:10px 10px 10px 10px;
	margin: 40px;
	box-sizing: border-box;
}
